* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3bfbd;
    height: 50vh;
    background-position: center;
    background-size: cover;

}

header {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    background: linear-gradient(to right, #F99B99, #DE7C78, #C4615B, #AA4942, #8F3F2D, #75251C, #5B180F);
    z-index: 1000;
}

.logo {
    display: flex;
    margin-left: 35px;
}

.logo-picture {
    height: 80px;
    width: 80px;
    position: relative;
    animation: slideRightToLeft 4.3s linear forwards; 
}

@keyframes slideRightToLeft {
    0% {
        left: 100%; 
    }
    100% {
        left: 0;
    }
}


.logo-name {
    font-size: 35px;
    font-weight: 800;
    color: #5B180F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
     sans-serif;
    margin-top: 13.5px;
    margin-left:3px;
 
}


.city-nights-effect {
    animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
    0% {
      color: #F99B99;
      text-shadow:
        0 0 1em rgba(222, 124, 120, 0.2),
        0 0 0.125em rgba(222, 124, 120, 0.3),
        -1em -0.125em 0.5em rgba(196, 97, 91, 0),
        1em 0.125em 0.5em rgba(170, 73, 66, 0);
    }
    
    30% { 
      color: #DE7C78;
      text-shadow:
        0 0 1em rgba(222, 124, 120, 0.5),
        0 0 0.125em rgba(222, 124, 120, 0.5),
        -0.5em -0.125em 0.25em rgba(196, 97, 91, 0.2),
        0.5em 0.125em 0.25em rgba(170, 73, 66, 0.4);
    }
    
    40% { 
      color: #C4615B;
      text-shadow:
        0 0 1em rgba(222, 124, 120, 0.5),
        0 0 0.125em rgba(222, 124, 120, 0.5),
        -0.25em -0.125em 0.125em rgba(196, 97, 91, 0.2),
        0.25em 0.125em 0.125em rgba(170, 73, 66, 0.4);
    }
    
    70% {
      color: #AA4942;
      text-shadow:
        0 0 1em rgba(222, 124, 120, 0.5),
        0 0 0.125em rgba(222, 124, 120, 0.5),
        0.5em -0.125em 0.25em rgba(196, 97, 91, 0.2),
        -0.5em 0.125em 0.25em rgba(170, 73, 66, 0.4);
    }
    
    100% {
      color: #8F3F2D;
      text-shadow:
        0 0 1em rgba(222, 124, 120, 0.2),
        0 0 0.125em rgba(222, 124, 120, 0.3),
        1em -0.125em 0.5em rgba(196, 97, 91, 0),
        -1em 0.125em 0.5em rgba(170, 73, 66, 0);
    }
  }
  
.navbar a.active {
    color: #fddbda; 

}

.navbar {
    display: flex;
    margin-right: 1rem;
    transition: .3s;
}
ul li{
    list-style: none;
    margin-right: 10px;
    position: relative;
}

li a {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: #F99B99;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    line-height: 2.8cm;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

li a:hover {
    color: #fddbda;
}

a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 60%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

li:hover a::before {
    opacity: 1;
}

[data-color="#5B180F"]:hover a::before {
    background-color: #5B180F;
}

[data-color="#75251C"]:hover a::before {
    background-color: #5B180F;
}

[data-color="#8F3F2D"]:hover a::before {
    background-color: #75251C ;
}

[data-color="#AA4942"]:hover a::before {
    background-color: #AA4942;
}

[data-color="#C4615B"]:hover a::before {
    background-color: #C4615B;
}

[data-color="#DE7C78"]:hover a::before {
    background-color: #DE7C78;
}

[data-color="#F99B99"]:hover a::before {
    background-color: #F99B99;
}
    
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fddbda;
    font-size: 50px;
    color: #5B180F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
        sans-serif;
    font-weight:700;
    }

#home {
    background: #f8b3b1;
}
#about-me {
    background: #F99B99;
    z-index: 6;
}

#about-me h2 {
    font-size: 50px;
    color: #5B180F 
    font-weight bold;
    margin-bottom: 10px; 
    margin-left: 50px;
}


#education h2 {
    font-size: 50px;
    color: #5B180F; 
    font-weight: bold;
    margin-bottom: 20px; 
    margin-right: 100px;
    margin-left: 100px
}


#education {
    background:#DE7C78;
    z-index: 5;
}

#experience h2 {
    font-size: 50px;
    color: #5B180F; 
    font-weight: bold;
    margin-bottom: 20px; 
    margin-right: 100px;
    margin-left: 100px
}

#experience {
    background:#F99B99;
    z-index: 5;
}

#skills {
    background:#DE7C78;

}

#skills h2 {
    font-size: 50px;
    color: #5B180F; 
    font-weight: bold;
    margin-bottom: 20px; 
    margin-right: 100px;
    margin-left: 100px
}

#projects {
    background: #F99B99 ;
}

#projects h2 {
    font-size: 50px;
    color: #5B180F; 
    font-weight: bold;
    margin-bottom: 20px; 
    margin-right: 100px;
    margin-left: 100px
}

#contact {
    background: #DE7C78;
}
.hi-there {
    color: #AA4942;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    font-weight: bold;
}

.my-name {
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    margin: 10px 0 10px 0;
    font-weight: bold;

}

.nickname {
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    color: #AA4942;
}

.self-intro{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    font-size: 15px;
    font-weight: 450;
}

.sm-icon {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color:#5B180F;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    display: inline-block;

}

.sm-icon:hover {
    opacity: 0.8;
}

button{
    border:none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #75251C;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    font-weight: 450;
    display: inline-block; 
    line-height: 1; 
    box-sizing: border-box;
    
}

button:hover {
    background-color: #DE7C78;
}


.left {
    height: 850px;
    width: 100rem;
    margin-top: 100px;
    margin-left: 35%;

}

.right{
    height: 600px;
    width: 20%;
    margin-right: 1300px;
}


.display-pic {
    width: 700px;
    height: -100px;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    bottom: 8rem;
    }
    
    .display-pic:hover {
    transform: rotateY(10deg) rotateX(5deg);
    }
    
    @keyframes flipme {
    0% {
        transform: rotateY(-5deg) rotateX(0deg);
    }
    50% {
        transform: rotateY(0deg) rotateX(5deg);
    }
    100% {
        transform: rotateY(-5deg) rotateX(0deg);
    }
    }


/*about me*/
    
.center {
    display: flex;
    align-items: center;
    justify-content: 1000px;
    margin-top: 30vh;
}

.container-2 {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container-2 .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }
  .container-2:hover .box {
    transform: rotateY(25deg);
  }
  .container-2 .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container-2 .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .container-2 .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container-2 .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgb(238, 63, 63),#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container-2 .box:hover .imgBx:before {
    opacity: 1;
  }
  .container-2 .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-2 .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container-2 .box .content h3 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    transform: translateY(200px);
    transition-delay: 0.3s;
    text-align: right;
  }
  .container-2 .box:hover .content h3 {
    transform: translateY(0px);
  }
  .container-2 .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    transform: translateY(200px);
    transition-delay: 0.4s;
    text-align: justify;
    font-weight: 300;

  }
  .container-2 .box:hover .content p {
    transform: translateY(0px);
  }

  /*Education word*/


  /*education content*/
  #education main {
    font-size: 18px;
    width: 40%;
    font-weight: 300;
    margin-right: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    z-index: 5;

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  z-index: 5;
}

p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #C4615B 0%, #5B180F 100%);
  border-image-slice: 1;
  border-width: px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #000000;
  
span.date {
    font-weight: 800;
    color: #5B180F;
}

span.loc {
    font-size: 1em;
}
  /* numbers */
  &:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: #5B180F;
    text-align: center;
    line-height: 1.25em;
    z-index: 5;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
  }
}

/* odd number borders */
p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  
  &:before {
    left: 100%; 
    margin-left: -20px;
  }
}

/* even number borders */
p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
  
  &:before {
    right: 100%; 
    margin-right: -20px;
  }
}

/* handle first and last */
p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

}

/*experience*/

#experience main {
    font-size: 18px;
    width: 40%;
    font-weight: 300;
    margin-right: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    z-index: 5;


main {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    z-index: 5;
    }
      
      p {
        font-size: 1em;
        line-height: 1.75em;
        border-top: 3px solid;
        border-image: linear-gradient(to right, #C4615B 0%, #5B180F 100%);
        border-image-slice: 1;
        border-width: px;
        margin: 0;
        padding: 40px;
        counter-increment: section;
        position: relative;
        color: #000000;
        
      span.date {
          font-weight: 800;
          color: #5B180F;
      }
      
      span.loc {
          font-size: 1em;
      }
        /* numbers */
        &:before {
          content: counter(section);
          position: absolute;
          border-radius: 50%;
          padding: 10px;
          height: 1.25em;
          width: 1.25em;
          background-color: #5B180F;
          text-align: center;
          line-height: 1.25em;
          z-index: 5;
          color: #ffffff;
          font-size: 1em;
          font-weight: 500;
        }
      }
      
      /* odd number borders */
      p:nth-child(odd) {
        border-right: 3px solid;
        padding-left: 0;
        
        &:before {
          left: 100%; 
          margin-left: -20px;
        }
      }
      
      /* even number borders */
      p:nth-child(even) {
        border-left: 3px solid;
        padding-right: 0;
        
        &:before {
          right: 100%; 
          margin-right: -20px;
        }
      }
      
      /* handle first and last */
      p:first-child {
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      
      p:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      
}

/*skills*/
#skills {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #5B180F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .skill-container {
    display: flex;
  }
  
  .skill-container ul {
    list-style: none;
    padding: 0;
  }
  
  .skill-container .technical-skills,
  .skill-container .soft-skills {
    margin: 0 5px;
  }
  
  .skill-container li {
    margin-bottom: 5px;

  }
  
  .skill-container a {
    text-decoration: none;
    color: #5B180F;
    display: block;
    padding: 5px;
    border: 10px solid #AA4942;
    border-radius: 100px;
    text-align: center;
    font-weight: 300;
  }
  
  
#skills a {
    text-decoration: none;
    font-size: 30px; 
    color: #ffffff; 
    text-shadow: none;
}

#skills a:hover {
    color: #5B180F; 
}

/*contact me hihi*/
#contact {
    text-align: center;
}

.contact-container {
    border: 3px solid #5B180F; /* Border color */
    border-radius: 10px; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    margin: 20px auto; /* Adjust as needed */
    display: inline-block;
}

.c-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact h2 {
    font-size: 40px;
    margin-bottom: 20px; /* Adjust as needed */
}

.contact-info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
